.status-bar {
  width: 100vw;
  height: 60px;
  display: flex;
  background-color: orange;
  align-items: center;
  margin-bottom: 20px;
  font-size: 20px;
  box-shadow: 0px 20px 10px rgb(250, 198, 114);
  justify-content: space-between;
}

.status-bar > div {
  margin-left: 30px;
}

.button-box {
  display: flex;
}

.toggleBtn {
  margin-left: 480px;
  border: none;
  font-size: 20px;
  background-color: orange;
  cursor: pointer;
  font-family: "Shantell Sans", cursive;
}

.btn {
  border: none;
  background-color: orange;
  font-family: "Shantell Sans", cursive;
  font-size: 20px;
}

.button {
  margin-right: 30px;
}

.button:hover {
  cursor: pointer;
  transition: 0.5s ease-in-out;
  transform: scale(1.2);
}

.status-bar-darkMode {
  width: 100vw;
  height: 60px;
  display: flex;
  background-color: gray;
  color: white;
  align-items: center;
  margin-bottom: 20px;
  font-size: 20px;
  box-shadow: 0px 20px 10px rgb(161, 179, 172);
  justify-content: space-between;
}

.status-bar-darkMode > div {
  margin-left: 30px;
}

.btn-darkMode {
  border: none;
  background-color: gray;
  color: white;
  font-family: "Shantell Sans", cursive;
  font-size: 20px;
}

.toggleBtn-darkMode {
  margin-left: 480px;
  border: none;
  font-size: 20px;
  color: white;
  background-color: gray;
  cursor: pointer;
  font-family: "Shantell Sans", cursive;
}
