@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hi+Melody&family=Noto+Serif+KR&family=Shantell+Sans:wght@300&family=Stylish&display=swap");

@import "pages/css/container.css";
@import "pages/css/page.css";
@import "pages/css/profile.css";
@import "pages/css/status-bar.css";
@import "pages/css/login.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Shantell Sans", cursive;
}

.korean {
  font-family: "Stylish", sans-serif;
  font-size: 20px;
}

.darkMode {
  background-color: black;
  color: white;
}
